
# gradle
.gradle/
build

# topics
Topics

# idea config
.idea

# old stages
/Coffee Machine (Kotlin)/
!/Coffee Machine (Kotlin)/task/
/Coffee Machine (Kotlin)/task/*
!/Coffee Machine (Kotlin)/task/src/*

# course config files
/course-info.yaml
/course-remote-info.yaml
*/lesson-info.yaml
*/task-info.yaml